.hero-section{
    background-color: rgb(116, 113, 113);
    min-height: 20rem;
    border-radius: 0 0 10px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.hero-section > .wrap-input{
    text-align: center;
}
.wrap-input > .title{
    color: white;
    
}
.search-input{
    background-color: white;
    color: black;
    font-size: 1.8rem;
    border-radius: 10px;
    width: 25rem;
}
/* .flex{
    display: flex;
}
.values{
    display: flex;
    justify-content: center;
} */
.value{
    padding: 0.4rem;
    margin: 0.25rem 0.25rem 0;
}
