a {
    text-decoration: none;
}

.lobster2 {
    font-family: 'Lobster Two';
}

.merriweather {
    font-family: 'Merriweather' !important;
}

.oswald {
    font-family: 'Oswald';
}

.roboto-mono {
    font-family: 'Roboto Mono';
}

.sawarabi {
    font-family: 'Sawarabi Mincho';
}

.main-header {
    font-family: 'Merriweather' !important;
    font-size: 2.2rem !important;
    font-weight: 600;
}

.main-header-description {
    font-family: 'Sawarabi Mincho' !important;
    font-size: 1.25rem !important;
    line-height: 1.8rem !important;
}

.property-title {
    font-family: 'Oswald' !important;
}

.sub-header {
    font-family: 'Merriweather' !important;
    font-size: 1.75rem !important;
    font-weight: 600;
}

.sub-header2 {
    font-family: 'Merriweather' !important;
    font-size: 1.15rem !important;
    font-weight: 800;
}

.custom-scroll-bar::-webkit-scrollbar {
    width: 6px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 200px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* .home-request-wrapper .swiper-wrapper {
    display: flex;
    justify-content: center;
} */
.swiper-button-prev, .swiper-button-next {
 background-color: rgb(17, 16, 16);
 border-radius: 50%;
 height: 32px !important;
 width: 32px !important;
}
.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 18px !important;
    font-weight: 800 !important;
    color: white;
}

.search-item-paper:hover {
    background: #464646;
    color: white;
}

.fallback {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    height: 200vh;
    width: 200vw;
    opacity: 10;
    z-index: 3000;
    visibility: visible;
    background-color: #02629f;
    transition: opacity .3s, visibility;
}

.fallback-logo {
    position: fixed;
    z-index: 4000;
    background: url(./logo.svg) no-repeat;
    top: 40%;
    animation: .8s animatezoom;
    left: calc(40% - 1.4rem);
    width: 11.3rem;
    height: 10%;
}

@media screen and (min-width: 600px) {
    .fallback-logo {
        left: calc(50% - 1.6rem);
    }
}


.fallback-loading {
    position: fixed;
    z-index: 4000;
    left: 50%;
    top: 55%;
    height: 0.1rem;
    width: 90%;
    backface-visibility: hidden;
    transform: translate3d(-50%, -50%, 0);
    background-color: #02629f;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%) scaleX(.3);
}

.fallback-loading::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #bed600;
    backface-visibility: hidden;
    /* transform: translateZ(0); */
    transform: scaleX(0);
    transform-origin: left center;
    animation-duration: .8s;
    animation-delay: .8s;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


.fallback-loading {
    background-color: #bed600;
    animation: fallback-loading 2s linear infinite;
    animation-play-state: running;
}



@keyframes fallback-loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.property-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    float: left;
}

.loading-dots span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 4px;
    display: inline-block;
    animation: dots 1s ease-in infinite;
}

.loading-dots span:nth-child(2) {
    animation-delay: 0.3s;
}

.loading-dots span:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes dots {
    50% {
        opacity: 0.5;
        transform: scale(0.7) translateY(10px);
    }
}